<section>
   <div class="divLogo">
      <h1 class="logo">SASTRE</h1>
   </div>
   <div class="navbar">
      <a href="/"><h1>Home</h1></a>
      <a href="/node"><h1>Node</h1></a>
      <a href="/express"><h1>Express</h1></a>
   </div>
   <div class="bx bx-menu" id="icono-menu"></div>
  
</section>
<script>
   let menu = document.querySelector('#icono-menu'); //class de boxicons
  let navbar = document.querySelector('.navbar');
  
  menu.onclick = () => {
    menu.classList.toggle('bx-x');  //class de boxicons
    navbar.classList.toggle('open');
  }
</script>

