<section>
    <div class="contenedor">
        <div class="imagen">
            <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--vrvqSDHx--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/s15ubgod56c7butyt7eu.jpg" alt="">
        </div>
        <h1>Node.js: Breve Descripción y Contexto:</h1>
        <p>Node.js es un entorno de ejecución para JavaScript en el lado del servidor. A diferencia de la ejecución tradicional del código JavaScript en el navegador, Node.js permite ejecutarlo en el servidor, lo que abre la puerta a la creación de aplicaciones web escalables y de alto rendimiento. Su importancia radica en su capacidad para manejar operaciones de entrada/salida de manera eficiente y no bloqueante, lo que lo hace especialmente adecuado para aplicaciones en tiempo real y para construir servicios web escalables.</p>
        <h1>Breve Historia:</h1>
        <p>Node.js fue creado por Ryan Dahl y se presentó por primera vez en 2009. Dahl estaba interesado en construir aplicaciones en tiempo real y sintió que las limitaciones de las tecnologías de servidor existentes no satisfacían sus necesidades.</p>
        <h1>Mantenimiento Actual:</h1>
        <p>La Fundación Node.js es la entidad encargada de su desarrollo y mantenimiento. Aunque no hay una empresa específica que lo mantenga, la comunidad de desarrolladores y diversas compañías contribuyen al proyecto.</p>
        <h1>Evolución Histórica (Algunos Hitos):</h1>
        <p class="lista"> • 2009: Node.js se presenta públicamente por primera vez.<br>
            • 2011: npm (Node Package Manager) se lanza, facilitando la gestión de dependencias en proyectos Node.js.<br>
            • 2015: El lanzamiento de Node.js 4.0 marca la convergencia de las variantes de Node.js y io.js, consolidando la comunidad.<br>
            • 2017: La versión LTS (soporte a largo plazo) de Node.js 8 se convierte en la referencia para muchas empresas y desarrolladores.</p>
        <h1>Empresas que Usan Node.js:</h1>
        <p class="fin">Netflix: Utiliza Node.js para gestionar sus operaciones en el lado del servidor, mejorando la velocidad y eficiencia del manejo de datos.
            Uber: Node.js se emplea en partes clave de la infraestructura, permitiendo una gestión eficiente de las operaciones en tiempo real.
            LinkedIn: Migró parte de su infraestructura a Node.js para mejorar la velocidad y la capacidad de respuesta de sus servicios web.</p>
        <h1>Video explicativo:</h1>
            <div class="video-container">
                <iframe
                  width="560"
                  height="315"
                  src="https://youtube.com/embed/ATCs2BY-acA?si=UEkfWcE-4a0aVOlY"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </div>
    </div>
</section>
