section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: rgb(196, 196, 196);
}
.contenedor {
    height: auto;
    width: 65%;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}
.imagen {
    margin-top: 10px;
    max-width: 60%;
    height: auto;
}
p {
    margin-top: 10px;
    text-align: justify;
    width: 60%;
    line-height: 1.3rem;
}
.lista {
    line-height: 2rem;
}
h1 {
    margin-top: 30px;
}
.fin {
    margin-bottom: 20px;
}

.video-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      margin: auto;
      margin-bottom: 30px;
      margin-top: 30px;
    }



    @media only screen and (max-width: 767px) {
        .contenedor {
            width: 100vw;
        }
        p {
            margin-top: 10px;
            text-align: left;
            letter-spacing: 1px; 
            word-spacing: 1px; 
            width: 60%;
            font-size: 16px;
            line-height: 1.2;
        }
        h1 {
            font-size: 20px;
            text-align: center;
        }
        .video-container iframe{
            width: auto;
            height: auto;
          }
      }
      
      /* Tabletas en orientación vertical */
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        
      }
      
      /* Tabletas en orientación horizontal y computadoras portátiles pequeñas */
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        /* Estilos específicos para tabletas en orientación horizontal y computadoras portátiles pequeñas */
      }
      
      /* Computadoras portátiles y escritorios */
      @media only screen and (min-width: 1200px) {
        /* Estilos específicos para computadoras portátiles y escritorios */
      }

